h1{
    font-size: 30px;
    color: #333333;
    text-align: center;
}
#time{
    color: #999;
    font-size: 14px;
}
p{
    color: #333;
    font-size: 18px;
    text-indent: 2em;
}
div{
    text-align: center;
   
}